@media (max-width: 767px) {
  /* On small screens, the nav menu spans the full width of the screen. Leave a space for it. */
  .body-content {
    padding-top: 50px;
  }
}

body{
  background-image: url('https://q-cf.bstatic.com/images/hotel/max1024x768/163/163300408.jpg') !important;
  background-color: aqua !important;
}